body {
    background-color:rgb(78, 156, 156);
    color: azure;
}
h1 {
    text-align: center;
    font-family: cursive;
    font-size: 40px;
}
.main-box1 {
    background-color:rgb(49, 118, 191);
    width: 700px;
    height: 500px;
    border-radius: 20px;
    border: 3px solid black;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.box1 {
    background-color: rgb(108, 200, 103);
    color: black;
    font-weight: bold;
    height: 30px;
    width: 60px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
} 
/*Here I have used some justifies. However, I fully practiced with all the justify-contents. */

.main-box2 {
    background-color:rgb(163, 191, 49);
    width: 650px;
    height: 600px;
    border-radius: 20px;
    border: 3px solid black;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: end;
}
.box2 {
    background-color: rgb(14, 14, 235);
    height: 30px;
    width: 60px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
/*Here I used one portion of justify content. However, practiced with all the justify-contents */


.main-box3 {
    background-color:rgb(205, 21, 95);
    width: 650px;
    height: 600px;
    border-radius: 20px;
    border: 3px solid black;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}
.box3 {
    background-color: rgb(119, 241, 11);
    color: black;
    height: 30px;
    width: 60px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.main-box4 {
    background-color:rgb(85, 191, 49);
    width: 650px;
    height: 600px;
    border-radius: 0px;
    border: 3px solid black;
    padding: 30px;
    margin: 30px;
    border-radius: 30px;
    display: flex;   
}
.box4 {
    background-color: rgb(159, 10, 10);
    height: 30px;
    width: 60px;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}
